.custom-window {
  position: relative;
  
  width: 384px;
  height: 148px; 
  /*background-image: url('../assets/ui/window/window.png');*/
  background-color: #f5f3f0;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;

  
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: move;
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

button {
    z-index: 100;
}

.shortcut-container {
    padding: 0px; 
    display: grid;
    grid-template-columns: repeat(5,64px);
    max-width: 100%;
    box-sizing: border-box;
    gap: 0px;
}

.shortcut-button {
    padding: 0px 0px;
    height: 64px;
    width: 64px;
    cursor: pointer;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    gap: 16px; 
    border: 0px solid #833434; 
    background-color: #ffffff00;   
}

.icon {
    width:auto;
}

.label {
    font-size: 8px;
    font-family: "cozy";
    color: #6e524b;
}

.title {
    font-family: "cozy";
    font-weight: bold;
    color: #6e524b;
    font-size: 12px;
}

.action-bar-button {
    padding: 6px 5px; 
    margin-right: 8px;
    font-family: "cozy";
    font-size: 8px;
    cursor: pointer; 
    border-radius: 2px; 
    border: 1px solid #615453; 
    background: #886c5e; 
    color: white; 
     
    display: flex; 
    align-items: center; 
    gap: 8px;   
}

.action-bar-container {
    padding: 0 0px; 
    margin-top: 0px;
    display: flex; 
    width: 360px;

    align-items: flex-start;
    margin-bottom: 20px;    
}