.custom-window {
  position: relative;
  
  width: 384px;
  height: 288px; 
  
  background-image: url('../assets/ui/window/window.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: move;
}

.app-content {
    position: absolute;
    top: 50px;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0px;

}

.shortcut-container {
    padding: 0px; 
    display: grid;
    grid-template-columns: repeat(4,64px);
    max-width: 100%;
    box-sizing: border-box;
    gap: 12px;
}

.shortcut-button {
padding: 0px 0px;
height: 64px;
width: 64px;
cursor: pointer;

display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
box-sizing: border-box;

gap: 16px; 
border-radius: 6px; 
border: 1px solid #ccc; 
background: #fff;    
}

.icon {
    font-size: 15px;
}

.label {
    font-size: 10px;
}

.action-bar-button {
    padding: 8px 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    border: 1px solid #007acc; 
    background: #007acc; 
    color: white; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    gap: 8px;   
}

.action-bar-container {
    padding: 0 20px; 
    margin-top: 10px;
    display: flex; 
    align-items: flex-start;
    margin-bottom: 10px;    
}