/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important; /* kill the scrollbars */
  background: transparent !important;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "cozy";
  src: url("assets/fonts/dogicapixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cozy";
  src: url("assets/fonts/dogicapixelbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}